{% extends "base.html" %}

{% block title %} {{story.story_title}} {% endblock %}

{% block content %}

    <h2>{{story.story_title}}</h2>
    <p>{{story.story_text}}</p>

    {% with comments.count as total_comments %}
        <div>
                <div class="card-header">
                    <h5 class="card-title">Статистика:</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Просмотров: {{views.count}}</p>
                    <p class="card-text">Всего комментариев: {{ total_comments }}</p>
                </div>
            </div>
    {% endwith %}

    <hr>
        {% if comments %}
            {% for comment in comments_on_page %}
                <p>
                    <strong>{{comment.authors_name}}</strong>
                    <p>{{comment.comment_text}}</p>
                    <p>{{comment.publication_date}}</p>
                    <hr>
                </p>
            {% endfor %}

        {% else %}
            К этому рассказу пока нет комментариев.
        {% endif %}
    <hr>

    <form action="{% url 'stories:leave_comment' story.id %}" method="POST">
        {% csrf_token %}
        <input type="text" required="" placeholder="Ваше имя" name="comment_author_name"><br>
        <textarea required="" placeholder="Текст комментария" name="comment_text" cols="40" rows="5"></textarea><br>
        <button class="btn btn-primary">Оставить комментарий</button>
    </form>

    {% include "pagination.html" with page=comments_on_page %}

{% endblock %}
