{% extends "base.html" %}


{% block main_page %} Вернуться на главную страницу {% endblock %}

{% block title %} Рассказы {% endblock %}

{% block content %}

    {% if all_stories %}

        {% for story in all_stories %}
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">{{ story.story_title }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Название конкурса: "{{ story.story_competition }}".</p>
                    <p class="card-text">Описание конкурса: "{{ story.story_competition_description }}."</p>
                    <p class="card-text">Призовое место: {{ story.story_award_winning_place }}.</p>
                    <a href="{% url 'stories:detail' story.id %}" class="btn btn-dark">Перейти к рассказу</a>
                </div>
            </div>
        {% endfor %}

    {% else %}
        Ничего не найдено.
    {% endif %}

{% endblock %}
