{% extends "base.html" %}


{% block icon %} <link rel="shortcut icon" type="image/png" href="/media/icons/stories_page/favicon.png"/> {% endblock %}

{% block main_page %} Вернуться на главную страницу {% endblock %}

{% block title %} Рассказы {% endblock %}

{% block content %}

    {% if all_stories %}

        {% for story in all_stories %}
            <div class="card mb-3" id="stories">
                <div class="card-header">
                    <h5 class="card-title" id="story-title">{{ story.story_title }}</h5>
                </div>

                <div class="card-body">
                    <p class="card-text" id="competition">
                        <strong>Название конкурса:</strong>
                        <br>
                        {{ story.story_competition }}.
                    </p>

                    <p class="card-text" id="competition-description">
                        <strong>Описание конкурса:</strong>
                        <br>
                        {{ story.story_competition_description }}.
                    </p>

                    <p class="card-text" id="winning_place">
                        Призовое место: {{ story.story_award_winning_place }}
                    </p>

                    <a href="{% url 'stories:detail' story.id %}" class="btn btn-dark" id="btn-story-detail">
                        Перейти к рассказу
                    </a>
                </div>
            </div>
        {% endfor %}

    {% else %}
        Ничего не найдено.
    {% endif %}

{% endblock %}
