{% extends "base.html" %}


{% block title %} Главная страница {% endblock %}

{% block content %}

    <div class="container-fluid padding_left">
        <style> .padding_left {padding-left: 0px;}</style>
        <div class="row">
            <div class="col w-50">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title">О сайте</h5>
                    </div>

                    <div class="card-body" style="text-align: justify;">
                        <p class="card-text" id="intro">
                            Путь вайтишника тернист: модная борода у меня не растет, от смузи навыки программирования почему-то не улучшаются,
                            а костюмы, рубашки и галстуки никак не хотят уступать место в шкафу прикольным майкам и джинсам :)
                        </p>
                        <p class="card-text" id="about-site">
                            И вот стою я такой на "пороге айти" и думаю, чем же мне привлечь внимание взыскательных HR-ов? <br>
                            И решил я пополнить портфолио и мой гитхаб ещё одним проектом. <br>
                            Делать ещё один интернет-магазин-пустышку по шаблону? Разве Вам это интересно? <br>
                            Мне - нет. Я верю, что проект должен быть полезен, хотя бы для меня самого.
                            Этот сайт призван помочь мне овладеть Django и стать площадкой для публикации моего творчества.
                        </p>
                        <p class="card-text" id="about-creation">
                            Да-да, я не только бывший юрист и вайтишник, но и весьма посредственный писака.
                            Иногда я принимаю участие в творческих конкурсах и периодически что-то выигрываю. <br>
                            Как бы то ни было, здесь Вы можете ознакомиться с наиболее удачными из них.
                            Кроме того, милости прошу на мой гитхаб для ознакомления с кодом.
                        </p>
                        <p class="card-text" id="etc">
                            P.S.
                            <br>
                            Ах, да, кроме рассказов здесь размещены несколько глав Саги - это более масштабный и невероятно амбициозный творческий проект.
                            Когда-нибудь я его завершу. Обязательно завершу.
                        </p>
                        <hr>
                        <p class="card-text" id="about-api">
                            Кстати, сайт поддерживает API Django REST Framework:
                            <br>
                            <a target="_blank" href="{% url 'api:stories_list' %}">API со списком рассказов</a>
                        </p>
                    </div>
                </div>

                <div id="accordion">
                    <div class="card">
                        <div class="p-3 card-header" id="heading-one">
                            <h5 class="mb-0">
                                <button class="p-2 btn btn-link collapsed text-dark" data-toggle="collapse" data-target="#collapse-one" aria-expanded="false" aria-controls="collapse-one">
                                    Краткое резюме
                                </button>
                            </h5>
                        </div>

                        <div id="collapse-one" class="collapse" aria-labelledby="heading-one" data-parent="#accordion">
                            <div class="card-body" style="text-align: justify;">
                                <p>
                                  В последние годы я работал юристом, моей специализацией было сопровождение банкротств юридических лиц.<br>
                                  Мне всегда было интересно программирование. Иногда, после работы, я с большим удовольствием решал простые обучающие задачи на Питоне. В конечном итоге это привело к тому, что я решил сменить профессиональную область.<br>
                                  Я самостоятельно изучал основы программирования и Питона в частности. В качестве практики программирования я завершил несколько проектов для личного пользования и, на мой взгляд, обладаю достаточными знаниями/навыками для начала работы разработчиком.
                                </p>

                                <div style="padding-bottom: 10px">
                                    <a href="https://hh.ru/resume/aee55fa4ff0880bbd10039ed1f6230316d6e34">Ознакомиться с резюме на HeadHunter</a>
                                </div>

                                <div>
                                    <a href="https://career.habr.com/interligo">Ознакомиться с резюме на Хабр.Карьера</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading-two">
                            <h5 class="mb-0">
                                <button class="p-2 btn btn-link collapsed text-dark" data-toggle="collapse" data-target="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                    Стек технологий
                                </button>
                            </h5>
                        </div>

                        <div id="collapse-two" class="collapse" aria-labelledby="heading-two" data-parent="#accordion">
                            <div class="card-body">
                                <style>
                                    .list-counter-circle {
                                      list-style: none;
                                      counter-reset: list;
                                      margin: 0;
                                      padding: 0;
                                      overflow: hidden;
                                    }
                                    .list-counter-circle>li {
                                      position: relative;
                                      display: block;
                                      height: 2rem;
                                      line-height: 2rem;
                                      margin-left: 1.75rem;
                                      margin-bottom: .25rem;
                                      padding-left: 1rem;
                                      padding-right: .5rem;
                                      color: #fff;
                                      background: #2b2a2b;
                                      white-space: nowrap;
                                      border-radius: .25rem
                                    }
                                    .list-counter-circle>li:last-child {
                                      margin-bottom: 0;
                                    }
                                    .list-counter-circle>li::before {
                                      content: counter(list);
                                      counter-increment: list;
                                      position: absolute;
                                      left: -2rem;
                                      top: -.25rem;
                                      bottom: -.25rem;
                                      width: 2.5rem;
                                      line-height: 2rem;
                                      border-radius: 1.25rem;
                                      border: .25rem solid #fff;
                                      text-align: center;
                                      color: #fff;
                                      background: #0d0c0d;
                                    }
                                </style>

                                <ol class="list-counter-circle" id="technologies-list">
                                    <li>Python 3</li>
                                    <li>Django Framework (DRF)</li>
                                    <li>Bash</li>
                                    <li>Git</li>
                                    <li>SQL (PostgreSQL | MySQL)</li>
                                    <li>ORM (SQLAlchemy | Django ORM)</li>
                                    <li>Tests (pytest | unittest | Django tests)</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col w-50" id="my-photo">
                <img src="media/photo.jpg" width="715" height="1100" class="photo-detail"/>
            </div>
        </div>
    </div>

{% endblock %}
