{% extends "base.html" %}


{% block main_page %} Вернуться на главную страницу {% endblock %}

{% block title %} {{ chapter.chapter_title }}: глава {{ chapter.id }} {% endblock %}

{% block content %}


    <div class="container-fluid">
        <div class="row" style="padding-right: 0px;">
            <div class="d-flex flex-column p-3 px-1 position-fixed bg-white border shadow-sm" style="width: 200px;" id="fixed-sidebar">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{% url 'book:chapter_detail' chapter.id %}" class="nav-link text-dark" id="chapter-begin">
                            К началу главы
                        </a>
                    </li>

                    <li>
                        <hr>
                    </li>

                    <li>
                        <a href="{% url 'book:chapter_detail' chapter.get_previous_chapter %}" class="nav-link text-dark" id="previous-chapter">
                            Предыдущая глава
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'book:chapter_detail' chapter.get_next_chapter %}" class="nav-link text-dark" id="next-chapter">
                            Следующая глава
                        </a>
                    </li>

                    <li>
                        <hr>
                    </li>

                    <li>
                        <a href="{% url 'book:book_content' %}" class="nav-link text-dark" id="book-content">
                            Содержание
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col offset-md-2" style="padding-right: 0px;" id="chapter-text">
                <div style="border: 1px solid gray; padding: 10px; text-align: justify;">
                    {% if chapter.pretty_chapter_print %}

                        {% for item in chapter.pretty_chapter_print %}
                            <p>{{ item }}</p>
                        {% endfor %}

                    {% else %}
                        Текст главы не удалось загрузить.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
