{% extends "base.html" %}


{% block main_page %} Вернуться на главную страницу {% endblock %}

{% block title %} {{ chapter.chapter_title }}: глава {{ chapter.id }} {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row" style="padding-right: 0px;">
            <div class="d-flex flex-column p-3 px-1 position-fixed bg-white border shadow-sm" style="width: 150px;" id="fixed-sidebar">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{% url 'book:chapter_detail' chapter.id %}" class="nav-link text-dark" id="chapter-begin">
                            К началу главы
                        </a>
                    </li>

                    <li>
                        <hr>
                    </li>

                    <li>
                        <a href="{% url 'book:chapter_detail' chapter.get_previous_chapter %}" class="nav-link text-dark" id="previous-chapter">
                            Предыдущая глава
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'book:chapter_detail' chapter.get_next_chapter %}" class="nav-link text-dark" id="next-chapter">
                            Следующая глава
                        </a>
                    </li>

                    <li>
                        <hr>
                    </li>

                    <li>
                        <a href="{% url 'book:book_content' %}" class="nav-link text-dark" id="book-content">
                            Содержание
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col offset-md-1" style="padding-right: 0px;" id="chapter-text">
                <p style="border: 1px solid gray; padding: 10px;">
                    {{ chapter.chapter_text }}
                </p>
            </div>
        </div>
    </div>

{% endblock %}
