<hr>
<div class="pagination pagination-lg">
    <span class="step-links">
        {% if page.has_previous %}
            <a class="btn btn-dark" href="?page={{ page.previous_page_number }}">Перейти на предыдущую страницу.</a>
        {% endif %}
        <span class="current">
            <a class="btn btn-dark">
                Страница {{ page.number }} из {{ page.paginator.num_pages }}.
            </a>
        </span>
        {% if page.has_next %}
            <a class="btn btn-dark" href="?page={{ page.next_page_number }}">Перейти на следующую страницу.</a>
        {% endif %}
    </span>
</div>
<hr>
